{% extends "generator/base.html" %}

{% block content %}
    <h3 class="text-center">Random Password generator</h3>
    <hr>
    <form action="{% url 'password' %}">
        <label for="Number of character">Number of character :</label>
        <select name="length" id="">
            <option value="5">5</option>
            <option value="8">8</option>
            <option value="13">13</option>
            <option value="21">21</option>
        </select>
        <br>
        <input type="checkbox" name="uppercase" id=""> Uppercase<br>
        <input type="checkbox" name="numbers" id=""> Numbers<br>
        <input type="checkbox" name="specialchars" id=""> Special characters <br>
        <br>
        <input class="btn btn-block btn-primary" type="submit" value="Generate Password">
    </form>
{% endblock content%}